body { /*sets styles for the main body of text*/
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar { /* sets style for the navigation bar */
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.navbar a:hover { /*Highlights navbar once hovering */
  background-color: #555;
}
#dashboardLink { /*Link covers entire bar */
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}