/* Dashboard.css */
.dashboard-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .user-info h2, .user-info p {
    text-align: center;
  }
  
  .crypto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .crypto-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  .crypto-box h3 {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .crypto-box p {
    margin-top: 10px;
  }
  