.landing-page {
  text-align: center;
  padding: 20px;
  position: relative;
}

.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  cursor: pointer;
}

.join-us-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.join-us-button:hover {
  background-color: #45a049;
}
